<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConfigsheetId" type="System.Configuration.NameValueSectionHandler,System" />
		<section name="OpportunityRollupsheetId" type="System.Configuration.NameValueSectionHandler,System" />
		<section name="ProjectOneSheetId" type="System.Configuration.NameValueSectionHandler,System" />
		<section name="ProjectTwoSheetId" type="System.Configuration.NameValueSectionHandler,System" />
	</configSections>
	<appSettings>
		<add key="SMARTSHEET_AUTH_TOKEN" value="RGQpN47l4kJBvLaOc4jlTONkd2jaexjuUe3pA" />
		<add key="SMARTSHEET_CHANGE_AGENT" value="Time Tracking Automation" />
		<add key="TOKEN1" value="" />
		<add key="TOKEN2" value="" />
		<add key="AccessToken" value="RGQpN47l4kJBvLaOc4jlTONkd2jaexjuUe3pA" />
		<add key="TempoAccessToken" value="rmHx4P7xNznVs7nDo1UlvFC4faL4KJ" />
		<add key="JiraTempoConfigsheet" value="6948641874175876" />
		<add key="OpportunityRollupsheetId" value="4614195078555524" />
         <!--Past 8 weeks data-->
		<add key="Fromdate" value="2022-06-01" />
		<add key="Todate" value="2022-07-21" />
		<add key="DefaultCulture" value="en-GB" />
	</appSettings>
	<ConfigsheetId>
		<add key="CONFIGURATION_SHEET_ID" value="2355992542373764" />
	</ConfigsheetId>
	<OpportunityRollupsheetId>
		<add key="CONFIGURATION_SHEET_ID" value="4614195078555524" />
	</OpportunityRollupsheetId>
	<ProjectOneSheetId>
		<add key="CONFIGURATION_SHEET_ID" value="7076462248388484" />
	</ProjectOneSheetId>
	<ProjectTwoSheetId>
		<add key="CONFIGURATION_SHEET_ID" value="794356392191876" />
	</ProjectTwoSheetId>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
